/* Regola Generale */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Cambio Font */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/*#region colori e Background  */

/* Root di Figma */
:root {
  --bg_footer: #00439c;
  --bg_new_exit: #1f1f1f;
  --bg_logo_header: #000000;
  --bg_transparent: transparent;
  --bg_ps_now: #161c3b;
  --bg_ps_plus: #bebcbb;
}

.bg_transparent {
  background-color: var(--bg_transparent);
}
.bg_ps_plus {
  background-color: var(--bg_ps_plus);
}
.bg_ps_now {
  background-color: var(--bg_ps_now);
}
.bg_new_exit {
  background-color: var(--bg_new_exit);
}
.bg_footer {
  background-color: var(--bg_footer);
}

/* Palette colori per blocchi - Main content */

.bg_navbar_upper {
  background-color: chartreuse;
}
.bg_cont_main_header {
  background-color: #14ed87;
}
.bg_all_container {
  background-color: chocolate;
}
.bg_tot_header {
  background-color: crimson;
}
.bg_logo_upper {
  background-color: var(--bg_logo_header);
}

/* Background container photo e card (da rimuovere) */
.bg_photo {
  background-color: blueviolet;
}
.bg_card {
  background-color: rgb(87, 178, 34);
}

/*#endregion */

/* Utilities per Foto e altro */

.bg_photo > img,
.bg_card > img {
  visibility: hidden;
  /* aspect-ratio: 1/1; */
}

.rounded_5 {
  border-radius: 1rem;
}

.it_takes_two {
  filter: blur(100%);
}
/* Utilities Aspect ratio e IMG di background */
.i_t_t {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  aspect-ratio: 3/1;
}

.ps_plus {
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.ps_now {
  background-size: cover;
  max-width: 70%;
  height: auto;
}

/* Altezze fisse (da rimuovere poi) 
valide per versione Desktop (XXL) */

.h_xxl_header {
  z-index: 1;
}

.h_navbar_up {
  height: 75px;
  z-index: 2;
}

.h_cont_main_header {
  height: 280px;
}

/* Margini e Padding */
.mt_xxl {
  margin-top: 23rem;
}

/* List Item del footer */
li {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: white;
}

/* Testo cards */
.w_80 {
  width: 80%;
}

/* Dropdown della Navbar */

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  border: none;
  font: var(--fa-font-solid);
  content: "\f107";
}

.dropdown-toggle.show::after {
  content: "\f106";
}

/* Font-size - footer  */
  .fs_mid {
    font-size: 0.9rem;
  }

/* Media Queries */

@media screen and (max-width: 767.98px) {
  /* Immagine da nascondere a visualizzazione SM e rientra a MD */
  .psp_img {
    display: none;
  }
  .psn_img {
    display: none;
  }

  /* Larghezza logo PS_plus */
  .ps_plus {
    max-width: 70%;
    height: auto;
  }

  /* Larghezza logo PS_now */
  .ps_now {
    max-width: 70%;
    height: auto;
  }
  .sie_logo {
    max-width: 70%;
    height: auto;
  }

  /* Footer */
  ul > li {
    padding-bottom: 0.5rem;
  }
}

/* Media Queries da 768 a 1400px (font-size) */

@media screen and (min-width: 768px) and (max-width: 1440px) {
  
    /* Titoli e testi H2 generici */

    .h3_md {
        font-size: xx-large;
    }
    
    /* Lista non ordinata nel footer */
    ul > li{
    padding-bottom: 0.5rem;
    }

    .list_md {
        padding-left: 0px;
    }


}
