/* Regola Generale */

* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

/* Palette colori per blocchi - header */

.bg_tot_header {
    background-color: crimson;
    opacity: 50%;
}

.bg_logo_upper {
    background-color: chartreuse;
    opacity: 75%;
}

.bg_navbar_upper {
    background-color: chartreuse;
    opacity: 35%;
}

.bg_cont_main_header {
    background-color: #14ed87;
    opacity: 75%;
}

.bg_main {
    background-color: blanchedalmond;
    opacity: 75%;
}

/* Palette colori per blocchi - Main content */

.bg_all_container {
    background-color: chocolate;
    opacity: 75%;
}

.bg_card {
    background-color: rgb(87, 178, 34);
    opacity: 75%;
}

.bg_photo {
    background-color: blueviolet;
}

.bg_photo > img,
.bg_card > img {
    visibility: hidden;
}

section {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.it_takes_two {
    filter: blur(100%);
}

/* Altezze fisse (da rimuovere poi) 
valide per versione Desktop (XXL) */

.h_xxl_header {
    z-index: 1;
}

.h_logo_upper {
    height: 50px;
    z-index: 2;
}

.h_navbar_up {
    height: 75px;
    z-index: 2;
}

.h_cont_main_header {
    height: 280px;
}

/* Margini e Padding */
.mt_xxl {
    margin-top: 23rem;
}





